body {
    font-family: "Arial", sans-serif;
    background-color: lightgrey;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 246px;
    margin: 50px auto;
    background-color: rgb(11, 130, 167);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 80px;
    height: 80px;
    border: 1px solid lightblue;
    cursor: pointer;
    line-height: 80px;
    font-size: 50px;
}

.cell:nth-child(1) {
    border-radius: 5px 0 0;
}
.cell:nth-child(3) {
    border-radius: 0 5px 0 0;
}
.cell:nth-child(7) {
    border-radius: 0 0 0 5px;
}
.cell:nth-child(9) {
    border-radius: 0 0 5px 0;
}