body {
    background-color: grey;
}

main {
    text-align: center;
}

.tictactoeGame {
    margin: auto;
    background-color: rgb(11, 130, 167);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30em;
    height: 30em;
    border: 1px solid lightblue;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Fields */
.field {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid lightblue;
    font-size: 1em;
}
.field#a1 {
    border-radius: 5px 0 0;
}
.field#a3 {
    border-radius: 0 5px 0 0;
}
.field#c1 {
    border-radius: 0 0 0 5px;
}
.field#c3 {
    border-radius: 0 0 5px 0;
}